
.★ {
  font-size: 0;
}

.★ > [class*="★"] {
  display: inline-block;
  font-size: 1rem;
  box-sizing: border-box;
  vertical-align: top;
}

.★--gutters > [class*="★"] {
  padding-left: .5rem;
  padding-right: .5rem;
}

.★ .★--gutters > [class*="★"] {
  &:first-child {
     padding-left: .5rem;
  }
  &:last-child {
    padding-right: .5rem;
  }
}

.★ > :first-child .★ > :first-child .★--gutters > [class*="★"]:first-child,
.★ > :first-child .★--gutters > [class*="★"]:first-child,
.★--gutters > [class*="★"]:first-child {
  padding-left: 1rem;
}

.★ > :last-child .★ > :last-child .★--gutters > [class*="★"]:last-child,
.★ > :last-child .★--gutters > [class*="★"]:last-child,
.★ > :last-child .★--gutters > .★-\|1\/4\|1,
.★--gutters > [class*="★"]:last-child {
  padding-right: 1rem;
}

.★ > .★-\|--flushLeft,
.★ > .★-\|--flushLeft:first-child {
  padding-left: 0;
}

.★ > .★-\|--flushRight,
.★ > .★-\|--flushRight:last-child {
  padding-right: 0;
}

.★ { @import './base.css'; }
.★ { @import './nesting.css'; }

/* sm */
.★sm { @import './sm.css'; }
@media (max-width: 599px) {
 .★ { @import './sm.css'; }
}

/* md */
.★md { @import './md.css'; }
@media (min-width: 600px) {
  .★ { @import './md.css'; }
}

/* lg */
.★lg { @import './lg.css'; }
@media (min-width: 699px) {
  .★ { @import './lg.css'; }
}

